<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
  
    <title>Form_inscrption</title>
    <link rel="stylesheet" href="../public/css/stylinsc.css">
    <script src="script.js"></script>
</head>
<body>
  
             <!-- Page inscription -->
             <div class="page2"></div>
             
  <div class="inscription">

        <div class="titre"> <h1 >INSCRIPTION</h1> </div>
  <!-- logo -->
  <div class="logo">
        <img src="../public/img/sonatel.png" alt="sonatel" id="logo">
      </div>
         <!-- menu -->
     <div class="menu">
            <div class="vertical-menu">
              <a href="#" class="active">Utilisateurs</a>
              <div class="dropdown">
              <button class="dropbtn" >session</button>
              <div class="dropdown-content">
                <a href="#">Nouvel session</a>
                <a href="#">Liste des sessions</a>
                <a href="#">Liste des utilisateurs</a>
  </div>
</div>
</div>

       <!-- formulaire -->
       <form action="" method="post">
       <div class="formulaire">
            <label for="nom" id="label1"> Nom</label> 
            <input type="text" id="input1" placeholder="entrer votre nom"> <br>

            <label for="prenom" id="label2">Prénom</label>
            <input type="text" id="input2" placeholder="entrer votre Prénom"><br>

            <label for="profil" id="label3">Profil</label> 
            <input type="text" id="input3" placeholder="entrer votre AD"> <br>

            <label for="login" id="label4">Login</label>
            <input type="text" id="input4" placeholder="entrer votre identifiant"><br>


            <label for="mot de passe" id="label5">Mot de passe</label> 
            <input type="text" id="input5" placeholder="veuillez saisir votre mot de passe"> <br>

            <label for="confirmation de mot de passe" id="label6">Confirmation de mot de passe</label>
            <input type="text" id="input6" placeholder="veillez confirmer"><br>

            <div class="annuler"><input type="submit" value="Annuler" id="annuler"></div>
            <div class="connexion1"><input type="submit" value="Connexion" id="connexion"></div>

        </form>
        </div> 
          </div>
</body>
</html>