<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>GesticketSA_Table3</title>
  <link rel="stylesheet" href="../public/css/stylesession.css">
  <script src="script.js"></script>
</head>
<body>
        <div class="page">
                <!-- Page connexion -->
                <div class="session">
              
                 <div class="titre"> <h1 >SESSION</h1> </div> 

                 


       <!-- logo -->
    <div class="logo">
            <img src="/var/www/html/sonatelogo.png" alt="sonatel" id="logo">
          </div> 
          
          
          <!-- formulaire -->
          <form action="" method="post">
              <div class="formulaire">

                <label for="NOM" id="label1"> NOM</label>
                <input type="text" id="input1">
            
                <label for="ANNEE" id="label2"> ANNEE</label>
                <input type="ANNEE" id="input2" ><br>
         
                <label for="DATE DEBUT" id="label3"> DATE DEBUT</label>
                <input type="DATE DEBUT" id="input3" ><br>

                <label for="DATE FIN" id="label4"> DATE FIN</label>
                <input type="DATE FIN" id="input4" ><br>
         
                <label for="EFFECTIF TOTAL" id="label5"> EFFECTIF TOTAL</label>
                <input type="EFFECTIF TOTAL" id="input5" ><br>
         
                <div class="annuler"><input type="submit" value="Annuler" id="annuler"></div>
                <div class="connexion1"><input type="submit" value="Connexion" id="connexion"></div>




          <div class="page1"> <h2>UTILISATEUR</h2>
               
          </div>
          
          
 <div class="page2"> <h3>SESSION</h3>

 </div>
          
  <div class="page3"> <h4>Gesticket SA 1.2.0</h4>

  </div>   

  
  

  

        </body>
        </html>