<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>GesticketSA_Table3</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <div class="page1">
  <!-- Page connexion -->
  <div class="connexion">

   <div class="titre"> <h1 >CONNEXION</h1> </div>
  

      <!-- logo -->
    <div class="logo">
      <a href="session.html"><img src="../public/img/sonatel.png" alt="sonatel" id="logo"> </a>
    </div>

      <!-- formulaire -->
          <form action="" method="post">
          <div class="formulaire">
            <label for="Login" id="label1"> LOGIN</label> <img src="../public/img/user1.png" class="icon1">
            <input type="text" id="input1" placeholder="entrer votre identifiant"> <br>

            <label for="password" id="label2"> Mot de passe</label> <img src="../public/img/cle.png" class="icon2" >
            <input type="password" id="input2" placeholder="entrer votre mot de passe"><br>

            <div class="annuler"><input type="submit" value="Annuler" id="annuler"></div>
            <div class="connexion1"> <a href="session.html"><input type="submit" value="Connexion" id="connexion"> </a></div>
          </form>
        </div>
  </div>

  <h5>Gesticket SA 1.2.0</h5>


</div> 


</body>
</html>