 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Liste des utilisateurs</title>
  <link rel="stylesheet" href="../public/css/style_usr.css">
  <script src="script.js"></script>
</head>
<body>

	<a href="index.html" > <img src="../public/img/sonatel.png"  id="logo" >  </a>
	<div class="div1">
					<div class="vertical-menu">
					  <a href="#" class="active">Utilisateurs</a>
					  <div class="dropdown">
					  <button class="dropbtn" >session</button>
					  <div class="dropdown-content">
							<a href="formsession.html">Nouvel session</a>
							<a href="session.html">Liste des sessions</a>
							<a href="liste_utilisateurs.html">Liste des utilisateurs</a>
					  </div>
	</div>
					  
	</div>
	
	 <div class="page1">
  <!-- Page connexion -->
  <div class="connexion">

   <div class="titre"> <h2 >LISTE DES UTILISATEURS</h2> </div>
  

      <!-- logo -->
    <div class="logo">
      
    </div>

    <!-- trait -->
    <div class="trait">

    </div>



    	    <!-- Tableau -->

    	    <div class="Tableau">
				<table style="width:100%">
				  <tr>
				    <th>Nom</th>
				    <th>Prenom</th>
				    <th>Profil</th>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td></td>
				    <td></td>
				  </tr>
				</table>
			</div>



</body>
</html> 