 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Liste des utilisateurs</title>
  <link rel="stylesheet" href="../public/css/style_session.css">
  <script src="script.js"></script>
</head>
<body>
	<div class="div1">
					<div class="vertical-menu">
					  <a href="#" class="active">Utilisateurs</a>
					  <div class="dropdown">
					  <button class="dropbtn" >session</button>
					  <div class="dropdown-content">
					    <a href="#">Nouvel session</a>
					    <a href="#">Liste des sessions</a>
					    <a href="#">Liste des utilisateurs</a>
            </div>
               <!-- logo -->
    <div class="logo">
        <img src="../public/img/sonatel.png" alt="sonatel" id="logo">
      </div>
	</div>
					  
	</div>
	
	<div id="trait"></div>
	
		
	</div>

	<table style="width: 80%" class="Tableau">
           <tr> 
				<th>Nom</th>
				<th>Année</th>
				<th>Date début</th>
				<th>Date fin</th>
				<th>Effectif total</th>
		   </tr>
		   <tr> 
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
           </tr>
		   <tr> 
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
           </tr>
		   <tr> 
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
           </tr>
		   <tr> 
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
           </tr>


	</table>
	                         <div class="retour"><input type="submit" value="Retour" id="retour"></div>

</body>
</html> 