.page1
{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 50px;
    background-color: #f4f9f9;
    border: 1px solid black;
    width: 70%;
    height: 500px;
}
#logo
{
    width: 42%;
    height: 42%;
}

.logo
{
    
    position: absolute;
    right: 0px;
    top: 80px;
}

h1
{
    text-align: center;
    color: #2b9595;

}

.titre
{
    position: absolute;
    top: 60px;
    left: 272px;
    width: 50%;
    height: 10%;
    font-size: 22px;
}

.formulaire
{
    margin-top: 15%;
}



#label1
{
    color: #2b9595;
    font-family: Arial;
    font-size: 30px;
    margin-left: 30px;
    position: relative;
    top: 30px;
}

#input1
{
    margin-left: 10px;
    width: 30%;
    height: 30px;
    position: absolute;
    top: 33%;
}

#label2
{
    color: #2b9595;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 30px;
    position: relative;
     top: 60px;
}

#input2
{
    margin-top: 5%;
    margin-left: 1%;
    width: 30%;
    height: 30px;
    position: absolute;
    top: 35%;
}

.icon1
{
    margin-left: 108px;
    width:30px;
     height:30px;
     position: relative;
     top: 30px;
}


.icon2
{
    margin-left: 20px;
    width:25px;
     height:25px;
     padding-right: 12px;
     position: relative;
     top: 60px;
}


.annuler
{
    margin-top: 10%;
}

#annuler
{
    background-color: #2b9595;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    top: 400px;
    left: 32%;
    width: 15%;
    height: 50px;
}

#connexion
{
    background-color: #f48322;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    top: 400px;
    left: 52%;
    width: 15%;
    height: 50px;
}

h5
{
    position: relative;
    top: 110px;
    left: 10px;
    width: 50%;
    height: 10%;
}
