body
{
	background-color: #f4f9f9;
}

.div1
{
	background-color: #2b9595;
	width: 200px;
	height: 620px;
  } 
 #logo
  {
  	position: absolute;
  	left:50%;
    width: 8%;
    height: 8%;
  }

  .titre
  {
  	font-size: 22px;
  	color: #2b9595;
  	font-family: arial;
  	position: absolute;
  	top: 65px;
  	left:40%;
    text-align: center;
  }

  #tableau
  {
    position: absolute;
    left: 25%;
    width: 800px;
    top: 25%;
  }

.Tableau
{
	position: absolute;
	top:200px;
	left: 300px;


}
tr
{
	font-family: arial;
	font-size: 20px;
	color: #2b9595;
}


tr, th, td , th
{
	width: 300px;
	height: 30px;
	text-align: center;
}


table, th, td {
  border: 1px solid black;
}

